In [58]:
#load the dataset into pandas dataframe
import pandas as pd
data=pd.read_csv("calories.csv")

In [59]:
#data processing:data information
data.head()

   Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp  Calories
0    male   68     190      94        29         105       40.8       231
1  female   20     166      60        14          94       40.3        66
2    male   69     179      79         5          88       38.7        26
3  female   34     179      71        13         100       40.5        71
4  female   27     154      58        10          81       39.8        35

In [60]:
data.shape

(15000, 8)

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      15000 non-null  object
 1   Age         15000 non-null  int64
 2   Height      15000 non-null  int64
 3   Weight      15000 non-null  int64
 4   Duration    15000 non-null  int64
 5   Heart_Rate  15000 non-null  int64
 6   Body_Temp   15000 non-null  float64
 7   Calories    15000 non-null  int64
dtypes: float64(1), int64(6), object(1)
memory usage: 937.6+ KB

In [62]:
data.describe()

,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
count,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000
mean,42.789800,174.465133,74.966867,15.530600,95.518533,40.025453,89.539533
std,16.980264,14.258114,15.035657,8.319203,9.583328,0.779230,62.456978
min,20.000000,123.000000,36.000000,1.000000,67.000000,37.100000,1.000000
25%,28.000000,164.000000,63.000000,8.000000,88.000000,39.600000,35.000000
50%,39.000000,175.000000,74.000000,16.000000,96.000000,40.200000,79.000000
75%,56.000000,185.000000,87.000000,23.000000,103.000000,40.600000,138.000000
max,79.000000,222.000000,132.000000,30.000000,128.000000,41.500000,314.000000

In [63]:
#label encoding
#convert 'gender' column
data['Gender']=data['Gender'].replace({'male':0,'female':1}).astype(int)

In [64]:
data.head()

   Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp  Calories
0       0   68     190      94        29         105       40.8       231
1       1   20     166      60        14          94       40.3        66
2       0   69     179      79         5          88       38.7        26
3       1   34     179      71        13         100       40.5        71
4       1   27     154      58        10          81       39.8        35

In [65]:
#chech for null values in dataset
data.isnull().sum()

Gender        0
Age           0
Height        0
Weight        0
Duration      0
Heart_Rate    0
Body_Temp     0
Calories      0
dtype: int64

In [66]:
#check for duplicate rows in dataset
data.duplicated().sum()

1

In [67]:
data.loc[data.duplicated(keep=False),:]

       Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp  Calories
8266        1   28     164      59         9          90       39.5        40
12852       1   28     164      59         9          90       39.5        40

In [68]:
#drp the duplicated row
data=data.drop_duplicates()

In [ ]:
#check if there is still duplicated rows
data.duplicated().sum()

0

In [ ]:
#number of rows after deletion of duplicated
data.shape

(14999, 8)